@import '../../../styles.scss';
.container {
    margin-top: 100px
}
h1 {
    font-family: $title-font;
    color: $main-color;
    text-align: center;
    font-size: 70px;
}
p {
    font-family: $main-font;
    text-align: center;
}
.content {
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin-top: 50px;
}
.group { margin-top: 30px}
.right {
    display: block;
    padding: 10px;
    label {
        font-family: $main-font;
        font-size: 14px;
    }
    input {
        border-radius: 20px;
        border: 1px solid rgba(0,0,0, 25%);
        filter: drop-shadow(5px 5px 5px rgba(0,0,0, 25%));
        padding: 5px 10px;
        width: 80%
    }
}
.left {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .card {
        padding: 20px;
        margin: 10px;
        text-align: left;
        width: 25%;
        .avatar {
            width: 50%;
            margin: auto;
            display: block;
        }
        .flag {
            width: 18px;
            margin-right: 2px
        }
        .country {
            font-family: $title-font;
            padding: 0;
            margin: 0
        }
        .desc {
            font-family: $main-font;
        }
    }
}
@media screen and (max-width: 800px) {
    .content {
        display: block;
        margin-top: 20px !important;
    }
    .left {
        margin-top: 40px;
        .card {
            width: 40%;
            padding: 10px;
            margin: 5px
        }
    }
}