<div class="steps container">
    <h1>Your journey to speaking a Foreign Language<br> in <span>4 Simple Steps</span></h1>
    <div class="cards">
        <div class="card">
            <img src="assets/1.jpg">
            <h2>Tell us about yourself</h2>
        </div>
        <div class="card">
            <img src="assets/2.svg">
            <h2>Get Matched with a Tutor</h2>
        </div>
        <div class="card">
            <img src="assets/3.svg">
            <h2>Take a Trial Class</h2>
        </div>
        <div class="card">
            <img src="assets/4.svg">
            <h2>Schedule Future Classes</h2>
        </div>
    </div>
</div>