<div class="container">
    <h1>About Us</h1>
    <div class="content">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed l
            igula volutpat, congue nisl id, elementum tortor. Nam commodo 
            tortor id metus dapibus, sed commodo turpis cursus. Aenean 
            dignissim suscipit odio, finibus luctus orci facilisis ut.<br><br>
            Mauris tincidunt metus et faucibus accumsan. Cras molestie 
            massa ac efficitur ornare. Praesent sollicitudin tincidunt augue, 
            at volutpat nibh faucibus a.</p>
        <img src="assets/about.svg">
    </div>
</div>
